#box{
    margin-left:none;
    border:3px solid#ff0800;
    width:auto;
    height:auto;
    text-align:left;
    padding:10px;
    align-item:baseline;
    font-size:larger
}
.main{
    margin-left: none;
    border:3px solid#ff0800;
    width:auto;
    height:auto;
    text-align:left;
    padding:10px;
    align-items:baseline;
    font-size: larger;
}